const Nodecaf = require('nodecaf');
<%_ if(locals.opts.redis){ _%>const redis = require('nodecaf-redis');<% } %>
<%_ if(locals.opts.mongo){ _%>const mongo = require('nodecaf-mongo');<% } %>

const routes = require('./routes');

module.exports = () => new Nodecaf({

    async startup({ global, conf }){
        <% if(locals.opts.redis){ %>global.redis = await redis(conf.redis);<% } %>
        <% if(locals.opts.mongo){ %>global.mongo = await mongo(conf.mongo, {});<% } %>
    },

    async shutdown({ global }){
        <% if(locals.opts.redis){ %>await global.redis.close();<% } %>
        <% if(locals.opts.mongo){ %>await global.mongo.close();<% } %>
    },

    routes
});
